<article>
  <header>
    <h2>{{title}}</h2>
  </header>
  <p class={{class}}>{{class}}</p>
  {{#if result}}
    <p class="solid">{{text}}</p>
    <p> This is Palindrome</p>
  {{else}}
    <p class="solid">{{text}}</p>
    <p> This is not Palindrome</p>
  {{/if}}
  <a href="/">Try another palindrome</a>
</article>